body {
    background-color:hsl(225, 100%, 95%);
    padding: 10px 15px; 
}

h1 h3{
    font-weight: bold;
}

.main_img {
    text-align: center;
    padding: 20px;
}

.plus_logo{
    width: 15px;
    height: 15px;
}
.x_logo{
    width: 15px;
    height: 15px;
}

.logos{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.blocks{
    text-align: center;
}

.hovring .blocks img{
    display: none;
}

.hovring .blocks:hover img{
    display: block;
}

.hovring:hover .plus_logo{
    opacity: 1;
}


/* .hovring .plus_logo {
    opacity: 0;
    padding-left: 100px;
}

.hovring:hover .plus_logo{
    display: none;
}

.hovring:hover .plus_logo{
    opacity: 1;
} */