body {
    background-color:hsl(225, 100%, 92%);
        /* width: 100%; */
        padding: 10px 15px;
    
}

h1{
    font-weight: bold;
}

h3{
    font-weight: bold;
}

.main_img {
    text-align: center;
    padding: 20px;
}

.plus_logo{
    width: 15px;
    height: 15px;
}
.x_logo{
    width: 15px;
    height: 15px;
}

.logos{
    display: flex;
    justify-content: center;
    /* width: 5%;
    height: 5%; */
}

.blocks{
    text-align: center;
}

.blocks .main_img img{
    display: none;
}

.blocks:hover .main_img img{
    display: block;
}